h1 {
    color: blue;
    font-size: medium;
    font-family: 'Consolas', bold, monospace;
}
p {
    color: black;
    font-size: small;
    font-family: 'Consolas', monospace;
}
body {
    width: 150px;
}
img {
    vertical-align: bottom;
    float: right;
}